@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  font-size: 1rem !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 12px !important;
  }

  textarea {
    font-size: 0.9rem !important;
  }
}